In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/tabular-playground-series-jun-2021/sample_submission.csv
/kaggle/input/tabular-playground-series-jun-2021/train.csv
/kaggle/input/tabular-playground-series-jun-2021/test.csv

In [4]:
train=pd.read_csv('../input/tabular-playground-series-jun-2021/train.csv')
test=pd.read_csv('../input/tabular-playground-series-jun-2021/test.csv')
# train.head()
test.head()

,id,feature_0,feature_1,feature_2,feature_3,feature_4,feature_5,feature_6,feature_7,feature_8,...,feature_65,feature_66,feature_67,feature_68,feature_69,feature_70,feature_71,feature_72,feature_73,feature_74
0,200000,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,200001,1,2,0,0,0,0,0,0,0,...,3,1,3,0,0,0,0,3,0,0
2,200002,0,1,7,1,0,0,0,0,6,...,3,0,0,0,0,3,0,2,0,0
3,200003,0,0,0,4,3,1,0,0,0,...,0,0,0,1,0,0,0,4,0,0
4,200004,0,0,5,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0

In [5]:
train.head()

,id,feature_0,feature_1,feature_2,feature_3,feature_4,feature_5,feature_6,feature_7,feature_8,...,feature_66,feature_67,feature_68,feature_69,feature_70,feature_71,feature_72,feature_73,feature_74,target
0,0,0,0,6,1,0,0,0,0,7,...,0,0,0,0,0,0,2,0,0,Class_6
1,1,0,0,0,0,0,0,0,0,0,...,2,0,0,0,0,0,0,1,0,Class_6
2,2,0,0,0,0,0,1,0,3,0,...,0,0,0,0,1,0,0,0,0,Class_2
3,3,0,0,7,0,1,5,2,2,0,...,0,4,0,2,2,0,4,3,0,Class_8
4,4,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,Class_2

In [6]:
train=train.drop(['id'],axis=1)
test=test.drop(['id'],axis=1)

In [7]:
train.head()

,feature_0,feature_1,feature_2,feature_3,feature_4,feature_5,feature_6,feature_7,feature_8,feature_9,...,feature_66,feature_67,feature_68,feature_69,feature_70,feature_71,feature_72,feature_73,feature_74,target
0,0,0,6,1,0,0,0,0,7,0,...,0,0,0,0,0,0,2,0,0,Class_6
1,0,0,0,0,0,0,0,0,0,0,...,2,0,0,0,0,0,0,1,0,Class_6
2,0,0,0,0,0,1,0,3,0,0,...,0,0,0,0,1,0,0,0,0,Class_2
3,0,0,7,0,1,5,2,2,0,1,...,0,4,0,2,2,0,4,3,0,Class_8
4,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,Class_2

In [8]:
test.head()

,feature_0,feature_1,feature_2,feature_3,feature_4,feature_5,feature_6,feature_7,feature_8,feature_9,...,feature_65,feature_66,feature_67,feature_68,feature_69,feature_70,feature_71,feature_72,feature_73,feature_74
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1,2,0,0,0,0,0,0,0,0,...,3,1,3,0,0,0,0,3,0,0
2,0,1,7,1,0,0,0,0,6,0,...,3,0,0,0,0,3,0,2,0,0
3,0,0,0,4,3,1,0,0,0,0,...,0,0,0,1,0,0,0,4,0,0
4,0,0,5,0,0,0,0,0,0,8,...,0,0,0,0,0,0,0,0,1,0

In [9]:
train.isna().sum().sum()

0

In [10]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200000 entries, 0 to 199999
Data columns (total 76 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   feature_0   200000 non-null  int64
 1   feature_1   200000 non-null  int64
 2   feature_2   200000 non-null  int64
 3   feature_3   200000 non-null  int64
 4   feature_4   200000 non-null  int64
 5   feature_5   200000 non-null  int64
 6   feature_6   200000 non-null  int64
 7   feature_7   200000 non-null  int64
 8   feature_8   200000 non-null  int64
 9   feature_9   200000 non-null  int64
 10  feature_10  200000 non-null  int64
 11  feature_11  200000 non-null  int64
 12  feature_12  200000 non-null  int64
 13  feature_13  200000 non-null  int64
 14  feature_14  200000 non-null  int64
 15  feature_15  200000 non-null  int64
 16  feature_16  200000 non-null  int64
 17  feature_17  200000 non-null  int64
 18  feature_18  200000 non-null  int64
 19  feature_19  200000 non-null  int64
 20  feature_20  200000 non-null  int64
 21  feature_21  200000 non-null  int64
 22  feature_22  200000 non-null  int64
 23  feature_23  200000 non-null  int64
 24  feature_24  200000 non-null  int64
 25  feature_25  200000 non-null  int64
 26  feature_26  200000 non-null  int64
 27  feature_27  200000 non-null  int64
 28  feature_28  200000 non-null  int64
 29  feature_29  200000 non-null  int64
 30  feature_30  200000 non-null  int64
 31  feature_31  200000 non-null  int64
 32  feature_32  200000 non-null  int64
 33  feature_33  200000 non-null  int64
 34  feature_34  200000 non-null  int64
 35  feature_35  200000 non-null  int64
 36  feature_36  200000 non-null  int64
 37  feature_37  200000 non-null  int64
 38  feature_38  200000 non-null  int64
 39  feature_39  200000 non-null  int64
 40  feature_40  200000 non-null  int64
 41  feature_41  200000 non-null  int64
 42  feature_42  200000 non-null  int64
 43  feature_43  200000 non-null  int64
 44  feature_44  200000 non-null  int64
 45  feature_45  200000 non-null  int64
 46  feature_46  200000 non-null  int64
 47  feature_47  200000 non-null  int64
 48  feature_48  200000 non-null  int64
 49  feature_49  200000 non-null  int64
 50  feature_50  200000 non-null  int64
 51  feature_51  200000 non-null  int64
 52  feature_52  200000 non-null  int64
 53  feature_53  200000 non-null  int64
 54  feature_54  200000 non-null  int64
 55  feature_55  200000 non-null  int64
 56  feature_56  200000 non-null  int64
 57  feature_57  200000 non-null  int64
 58  feature_58  200000 non-null  int64
 59  feature_59  200000 non-null  int64
 60  feature_60  200000 non-null  int64
 61  feature_61  200000 non-null  int64
 62  feature_62  200000 non-null  int64
 63  feature_63  200000 non-null  int64
 64  feature_64  200000 non-null  int64
 65  feature_65  200000 non-null  int64
 66  feature_66  200000 non-null  int64
 67  feature_67  200000 non-null  int64
 68  feature_68  200000 non-null  int64
 69  feature_69  200000 non-null  int64
 70  feature_70  200000 non-null  int64
 71  feature_71  200000 non-null  int64
 72  feature_72  200000 non-null  int64
 73  feature_73  200000 non-null  int64
 74  feature_74  200000 non-null  int64
 75  target      200000 non-null  object
dtypes: int64(75), object(1)
memory usage: 116.0+ MB

In [11]:
from sklearn.model_selection import train_test_split
X=train.drop(['target'],axis='columns',inplace=False)
y=train['target']
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.30,random_state=10)

In [14]:
from xgboost import XGBClassifier
cld=XGBClassifier(random_state=1,use_label_encoder=True,n_estimators=90,learning_rate=0.04,verbosity=0)
cld.fit(X_train,y_train)
y_pred=cld.predict(X_test)

In [15]:
from sklearn.metrics import accuracy_score
print(accuracy_score(y_test,y_pred)*100)

35.95333333333333

In [16]:
prediction=cld.predict_proba(X_test)

In [17]:
sample_case=pd.read_csv('../input/tabular-playground-series-jun-2021/sample_submission.csv')
print(sample_case.head())

       id  Class_1  Class_2  Class_3  Class_4  Class_5  Class_6  Class_7  \
0  200000   0.1111   0.1111   0.1111   0.1111   0.1111   0.1111   0.1111
1  200001   0.1111   0.1111   0.1111   0.1111   0.1111   0.1111   0.1111
2  200002   0.1111   0.1111   0.1111   0.1111   0.1111   0.1111   0.1111
3  200003   0.1111   0.1111   0.1111   0.1111   0.1111   0.1111   0.1111
4  200004   0.1111   0.1111   0.1111   0.1111   0.1111   0.1111   0.1111

   Class_8  Class_9
0   0.1111   0.1111
1   0.1111   0.1111
2   0.1111   0.1111
3   0.1111   0.1111
4   0.1111   0.1111

In [18]:
y_output=cld.predict_proba(test)
submission=pd.DataFrame(y_output,columns=['Class_1','Class_2','Class_3','Class_4','Class_5','Class_6','Class_7','Class_8','Class_9'])
submission['id']=sample_case['id']
submission.to_csv('submission.csv',index=False)
submission

,Class_1,Class_2,Class_3,Class_4,Class_5,Class_6,Class_7,Class_8,Class_9,id
0,0.055368,0.340372,0.146958,0.033841,0.024903,0.177381,0.038325,0.067516,0.115337,200000
1,0.044243,0.116167,0.084027,0.030202,0.023654,0.238421,0.079110,0.263207,0.120970,200001
2,0.046289,0.057056,0.039570,0.028048,0.022483,0.525362,0.051771,0.144866,0.084556,200002
3,0.067085,0.108579,0.093859,0.047708,0.033731,0.209293,0.074088,0.201474,0.164184,200003
4,0.048022,0.125840,0.076509,0.041877,0.026153,0.312904,0.056711,0.188611,0.123373,200004
...,...,...,...,...,...,...,...,...,...,...
99995,0.066966,0.355424,0.137113,0.035790,0.025115,0.108110,0.050740,0.091211,0.129531,299995
99996,0.064747,0.241740,0.122977,0.035064,0.028598,0.192257,0.053855,0.123219,0.137545,299996
99997,0.075588,0.236784,0.136695,0.040343,0.029051,0.135323,0.058904,0.145148,0.142164,299997
99998,0.040534,0.039639,0.047457,0.027238,0.027123,0.316832,0.086808,0.332086,0.082284,299998
99999,0.053554,0.075823,0.077236,0.036569,0.032069,0.302756,0.080525,0.216834,0.124633,299999